<div class="ms-font-montserrat mat-title ms-color-11">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">book</mat-icon> Transacciones
</div>
<mat-divider></mat-divider>

<mat-dialog-content style="min-width:300px; padding: 1em 1em">
    <div class="mat-elevation-z8">
        <div style=" overflow:auto">
            <table mat-table [dataSource]="dataSource" matSort style="width:100%">

                <ng-container matColumnDef="index" sticky>
                    <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>N°</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw; let i = index">
                        {{raw.index + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="regDate">
                    <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef matTooltip="Ordenar tabla por fecha"
                        matTooltipPosition="above" [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Fecha
                    </th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        <span *ngIf="raw.regDate">{{raw.regDate | date : 'dd/MM/yyyy'}}</span><br>
                        <span *ngIf="raw.regDate" class="w3-small"><b>
                                ({{raw.regDate | date : 'hh:mm a'}})</b></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell style="padding:0px 8px; min-width:170px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por tipo" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Tipo</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        {{raw.type}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell style="padding:0px 8px; min-width:170px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por descripción" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Descripción</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        {{raw.description}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="import">
                    <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por importe" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Importe</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        <span [ngClass]="{'w3-text-gray': raw.status === 'Anulado'}">
                            <mat-icon style="vertical-align:middle; margin-right:0.2em">
                                {{raw.ticketType ? 'add_circle' : 'remove_circle'}}</mat-icon>
                            {{raw.import | currency : 'S/.'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell style="padding:0px 8px; min-width:180px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por usuario" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Usuario</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        {{raw.user.displayName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="verified">
                    <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef matTooltip="Ordenar tabla por estado"
                        matTooltipPosition="above" [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                        Verificado</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        <span style="padding: 8px 8px; border-radius: 10px"
                            [ngClass]="{'w3-green': raw.status === 'Aprobado', 'w3-amber': !raw.verified, 'w3-black': raw.status === 'Anulado' }">{{raw.status}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="paymentType">
                    <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por tipo de pago" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Tipo de pago</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        {{raw.paymentType}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="approvedBy">
                    <th mat-header-cell style="padding:0px 8px; min-width:170px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por precio de compra" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Aprobado por</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        {{raw.approvedBy}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="debt">
                    <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                        matTooltip="Ordenar tabla por precio de compra" matTooltipPosition="above"
                        [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>En deuda</th>
                    <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                        {{raw.debt | currency : 'S/.'}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>