<h2 class="ms-font-montserrat mat-title" mat-dialog-title>
    <mat-icon class="ms-icons-color" style="vertical-align:middle">edit</mat-icon> Editar producto
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
    <p class="ms-font-montserrat w3-margin-bottom">¿Está seguro de editar el producto {{data['product']['name']}}?</p>
    <p class="ms-font-montserrat w3-small">*Esto no actualizará la información de la lista productos existentes</p>
    <p class="ms-font-montserrat w3-small">*La información editada se verá en los nuevos productos agregados</p>

    <mat-progress-bar mode="indeterminate" style="margin-bottom:0.5em" *ngIf="uploading"></mat-progress-bar>

    <div style="display:flex; align-items:center" *ngIf="uploading">
        <mat-icon class="w3-margin-right" [ngStyle]="{'color': flags.created ? 'forestgreen' : 'gray'}">check_circle
        </mat-icon>
        <span class="w3-margin-right ms-font-montserrat w3-small">Actualizando documento</span>
    </div>

    <div style="display:flex; align-items:center" *ngIf="uploading">
        <mat-icon class="w3-margin-right" [ngStyle]="{'color': flags.serie ? 'forestgreen' : 'gray'}">check_circle
        </mat-icon>
        <span class="w3-margin-right ms-font-montserrat w3-small">Actualizando números de serie</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
    <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>No</button>
    <button mat-raised-button color="primary" (click)="save()">Si, editar</button>
</mat-dialog-actions>