<div class="ms-font-montserrat mat-title ms-color-11">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">edit</mat-icon> Editar documento
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-dialog-content>
    <form [formGroup]="dataFormGroup">
        <div class="w3-row">
            <div class="w3-half">
                <div class="w3-margin">
                    <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>Información</b></span>
                    <mat-divider class="w3-margin-bottom w3-block"></mat-divider>

                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">
                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Fecha de <b>emisión</b></mat-label>
                            <input matInput [matDatepicker]="myDatepicker" formControlName="documentDate"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>
                            <mat-hint>Requerido *</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Proveedor</mat-label>
                            <mat-icon matSuffix>arrow_drop_down</mat-icon>
                            <input matInput type="text" formControlName="provider" [matAutocomplete]="providerAuto"
                                placeholder="Nombre/RUC" autocomplete="off">
                            <mat-autocomplete #providerAuto="matAutocomplete" [displayWith]="showProvider"
                                (optionSelected)="selectedProvider($event)">
                                <mat-option [value]="provider" style="padding: 0px 0px">
                                    <button mat-button (click)="addProvider()" class="w3-block"
                                        style="text-align: left">
                                        <mat-icon style="margin: 0px 0px">add</mat-icon> Crear nuevo
                                    </button>
                                </mat-option>
                                <mat-option *ngFor="let item of filteredProviders | async" [value]="item">
                                    {{item.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Proveedor requerido *</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Doc. Serie</mat-label>
                            <input matInput type="text" formControlName="documentSerial" autocomplete="off">
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Número de serie requerido *</mat-error>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Doc. Correlativo</mat-label>
                            <input matInput type="text" formControlName="documentCorrelative" autocomplete="off">
                            <mat-progress-bar mode="indeterminate" *ngIf="duplicates.correlativeLoading">
                            </mat-progress-bar>
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Número correlativo requerido *</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Tipo de comprobante</mat-label>
                            <mat-icon matSuffix>arrow_drop_down</mat-icon>
                            <input matInput type="text" formControlName="documentType"
                                [matAutocomplete]="documentTypeAuto" placeholder="Tipo..." autocomplete="off">
                            <mat-autocomplete #documentTypeAuto="matAutocomplete">
                                <mat-option *ngFor="let item of documentTypes" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Tipo de documento requerido *</mat-error>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Tipo de pago</mat-label>
                            <input matInput type="text" formControlName="paymentType" [matAutocomplete]="paymentAuto"
                                placeholder="Tipo..." autocomplete="off" readonly>
                            <mat-autocomplete #paymentAuto="matAutocomplete">
                                <mat-option *ngFor="let item of paymentTypes" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Tipo de pago requerido *</mat-error>
                        </mat-form-field>



                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom animated fadeInRight"
                            appearance="outline" *ngIf="dataFormGroup.value['paymentType'] === 'CREDITO'">
                            <mat-label>Fecha de vencimiento de <b>crédito</b></mat-label>
                            <input matInput [matDatepicker]="creditDatepicker"
                                [min]="dataFormGroup.value['documentDate']" formControlName="creditDate"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="creditDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #creditDatepicker></mat-datepicker>
                            <mat-hint>Requerido *</mat-hint>
                        </mat-form-field>

                    </div>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-margin">
                    <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>Importes</b></span>
                    <mat-divider class="w3-margin-bottom"></mat-divider>
                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">
                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom animated fadeInRight"
                            appearance="outline" *ngIf="dataFormGroup.value['documentType'] === 'FACTURA'">
                            <mat-label>Subtotal (S/.)</mat-label>
                            <input matInput type="number" step="0.01" formControlName="subtotalImport"
                                autocomplete="off">
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Subtotal requerido *</mat-error>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom animated fadeInRight"
                            appearance="outline" *ngIf="dataFormGroup.value['documentType'] === 'FACTURA'">
                            <mat-label>IGV (S/.)</mat-label>
                            <input matInput type="number" step="0.01" formControlName="igvImport" autocomplete="off">
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">IGV requerido *</mat-error>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>Total (S/.)</mat-label>
                            <input matInput type="number" step="0.01" formControlName="totalImport" autocomplete="off">
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Total requerido *</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">
                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>A cuenta (S/.)</mat-label>
                            <input matInput type="number" [max]="dataFormGroup.value['totalImport']" step="0.01"
                                formControlName="paidImport" autocomplete="off">
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Importe pagado requerido *</mat-error>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom" appearance="outline">
                            <mat-label>En deuda (S/.)</mat-label>
                            <input matInput type="number" step="0.01" formControlName="indebtImport" autocomplete="off"
                                readonly>
                            <mat-hint>Requerido *</mat-hint>
                            <mat-error *ngIf="!dataFormGroup.valid">Importe de deuda requerido *</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">
                        <div style="margin: 0em 1em 0.5em 1em">
                            <mat-checkbox class="ms-font-montserrat ms-color-11 mat-subheading1"
                                [formControl]="detractionApplies">
                                Aplica detracción</mat-checkbox>
                        </div>
                    </div>
                    <div style="display:flex; justify-content:stretch; flex-wrap:wrap">

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom animated fadeInRight"
                            appearance="outline" *ngIf="detractionApplies.value">
                            <mat-label>Porcentaje de detracción (%)</mat-label>
                            <input matInput type="number" step="0.01" formControlName="detractionPercentage"
                                autocomplete="off">
                            <mat-hint>Opcional *</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom animated fadeInRight"
                            appearance="outline" *ngIf="detractionApplies.value">
                            <mat-label>Importe de detracción (S/.)</mat-label>
                            <input matInput type="number" step="0.01" formControlName="detractionImport"
                                autocomplete="off">
                            <mat-hint>Opcional *</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="ms-fill w3-margin-right w3-margin-bottom animated fadeInRight"
                            appearance="outline" *ngIf="detractionApplies.value">
                            <mat-label>Fecha de pago de <b>detracción</b></mat-label>
                            <input matInput [matDatepicker]="detractionDatepicker"
                                [min]="dataFormGroup.value['documentDate']" formControlName="detractionDate"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="detractionDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #detractionDatepicker></mat-datepicker>
                            <mat-hint>Requerido *</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right" color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="w3-margin-right" color="primary" (click)="edit()"
        [disabled]="!dataFormGroup.valid || loading || subtotalImportRequired || igvImportRequired || creditDateRequired || detractionPercentageRequired|| detractionImportRequired || detractionDateRequired || duplicates.correlative">Editar</button>
</mat-dialog-actions>