<div>
    <div class="mat-elevation-z8">
        <div style="display:flex; align-items:center; padding: 16px 24px 0px 24px"
            [ngStyle]="{'padding-bottom': deviceFormat === 'mobile' ? '16px' : '0px'}">
            <button mat-fab style="background:#321937; color:white" (click)="toggleSideMenu()"
                *ngIf="deviceFormat === 'mobile'">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="ms-fill" *ngIf="deviceFormat === 'mobile'"></span>
            <img src="../../../assets/images/logo.png" alt="logo interiores" style="height:8vh">
            <span class="ms-fill" *ngIf="deviceFormat !== 'mobile'"></span>
            <button mat-button class="mat-subheading-1" style="margin:0px; border:1px solid #321937; border-radius:10px"
                [matMenuTriggerFor]="accountMenu" *ngIf="deviceFormat !== 'mobile'">
                <mat-icon class="ms-icons-color" style="vertical-align:middle">account_circle</mat-icon>
                {{auth.userInteriores ? auth.userInteriores.displayName : '---'}}
                <mat-icon class="ms-icons-color" style="vertical-align:middle">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #accountMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon> Configuración
                </button>
                <button mat-menu-item>
                    <mat-icon>vpn_key</mat-icon> Cambiar clave
                </button>
                <button mat-menu-item>
                    <mat-icon>info</mat-icon> Ayuda
                </button>
                <button mat-menu-item disabled>version 1.0a</button>
            </mat-menu>
        </div>

        <mat-tab-group dynamicHeight *ngIf="deviceFormat === 'web' || deviceFormat === 'tablet'">
            <mat-tab label="Ventas">
                <div class="w3-padding w3-border-bottom w3-border-lightgray">
                    <div style="display:flex">
                        <div class="w3-margin-right">
                            <button mat-button class="w3-small" routerLink="sales/requirements/form">
                                <mat-icon class="ms-icons-color">assignment</mat-icon> Requerimientos
                            </button><br>
                            <button mat-button class="w3-small" routerLink="sales/orders/form">
                                <mat-icon class="ms-icons-color">assignment</mat-icon> Pedidos
                            </button><br>
                        </div>
                        <div class="w3-border-left w3-border-lightgray w3-margin-right">
                            <button mat-button class="w3-small" routerLink="sales/shopping" disabled>
                                <mat-icon class="ms-icons-color">shopping_cart</mat-icon> Ventas
                            </button><br>
                            <button mat-button class="w3-small" routerLink="sales/stores" disabled>
                                <mat-icon class="ms-icons-color">store</mat-icon> Tiendas
                            </button><br>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Producción">
                <div class="w3-padding  w3-border-bottom w3-border-lightgray">
                    <div style="display:flex">
                        <div>
                            <button class="w3-small" mat-button routerLink="production/requirements">
                                <mat-icon class="ms-icons-color">assignment</mat-icon> Requerimientos
                            </button><br>
                            <button class="w3-small" mat-button routerLink="production/orders">
                                <mat-icon class="ms-icons-color">assignment</mat-icon> Pedidos
                            </button><br>
                        </div>
                        <div class="w3-margin-right">
                            <button class="w3-small" mat-button routerLink="production/production-list">
                                <mat-icon class="ms-icons-color">build</mat-icon> Producción
                            </button><br>
                        </div>
                        <div class="w3-border-left w3-border-lightgray w3-margin-right">
                            <button class="w3-small" mat-button class="w3-small" routerLink="production/raw-material">
                                <mat-icon class="ms-icons-color">view_module</mat-icon> Materia prima
                            </button><br>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingRouteConfig"></mat-progress-bar>

    <router-outlet *ngIf="deviceFormat === 'web' || deviceFormat === 'tablet'">
    </router-outlet>


    <mat-sidenav-container *ngIf="deviceFormat === 'mobile'">
        <mat-sidenav mode="over" #sideMenu [(opened)]="openedMenu" class="mat-elevation-z8">
            <div>
                <mat-expansion-panel *ngIf="true" style="width:15em; box-shadow:none; border-radius:0px 0px 0px 0px"
                    class="w3-border-top w3-border-light-grey" [ngClass]="{'ms-expansion-panel-menu':salesOpenedFlag}"
                    (opened)="salesOpened()" (closed)="salesClosed()">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:500"
                            [ngClass]="{'ms-expansion-panel-title':salesOpenedFlag}">
                            <mat-icon style="vertical-align:middle; margin-right:0.3em">shopping_cart</mat-icon>
                            Ventas
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <button mat-button *ngIf="true"
                        class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-purple"
                        routerLink="sales/requirements" style="text-align:left;border-radius:0px 0px 0px 0px"
                        (click)="toggleSideMenu()">
                        <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">assignment
                        </mat-icon> Requerimiento
                    </button>
                    <button mat-button *ngIf="true"
                        class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-purple"
                        routerLink="sales/orders" style="text-align:left;border-radius:0px 0px 0px 0px"
                        (click)="toggleSideMenu()">
                        <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">
                            assignment_turned_in
                        </mat-icon> Pedidos
                    </button>
                    <button mat-button *ngIf="true"
                        class="w3-block w3-text-white ms-expansion-panel-menu w3-hover-text-purple"
                        routerLink="sales/shopping"
                        style="text-align:left;border-radius:0px 0px 0px 0px;padding-bottom:1em"
                        (click)="toggleSideMenu()">
                        <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">shopping_cart
                        </mat-icon> Ventas
                    </button>
                    <p class="w3-margin-bottom"></p>

                </mat-expansion-panel>
            </div>
        </mat-sidenav>
        <mat-sidenav-content style="min-height:82vh">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>