<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">shopping_cart</mat-icon> Vender {{data.serial.name}}
    #{{data.serial.serie}}
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-dialog-content class="w3-margin-top">
    <form [formGroup]="dataFormGroup">
        <div class="w3-row">
            <div class="w3-half">
                <div class="w3-margin">
                    <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>Documento</b></span>
                    <mat-divider class="w3-margin-bottom"></mat-divider>
                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Documento</mat-label>
                        <input matInput type="text" formControlName="document" [matAutocomplete]="documentAuto"
                            placeholder="Escriba..." autocomplete="off">
                        <mat-autocomplete #documentAuto="matAutocomplete" [displayWith]="showDocument">
                            <mat-option *ngFor="let item of filteredDocuments | async" [value]="item">
                                {{item.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-hint>Requerido *</mat-hint>
                        <mat-error *ngIf="!dataFormGroup.valid">Seleccione un documento *</mat-error>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Serie</mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="documentSerial" placeholder="0"
                            autocomplete="off">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Correlativo</mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="documentCorrelative"
                            placeholder="0" autocomplete="off">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Importe</mat-label>
                        <input matInput type="number" min="0" step="0.01" formControlName="price"
                            [placeholder]="data.product.sale" autocomplete="off">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Descuento</mat-label>
                        <span matSuffix><b>%</b></span>
                        <input matInput type="number" min="0" step="0.01" formControlName="discount" autocomplete="off"
                            readonly>
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-margin">
                    <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>Información</b></span>
                    <mat-divider class="w3-margin-bottom"></mat-divider>
                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Tipo de pago</mat-label>
                        <mat-select formControlName="paymentType" placeholder="Seleccione...">
                            <mat-option *ngFor="let option of paymentTypes" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Caja destino</mat-label>
                        <input matInput type="text" formControlName="cash" [matAutocomplete]="cashAuto"
                            placeholder="Nombre de caja" autocomplete="off">
                        <mat-autocomplete #cashAuto [displayWith]="showCash">
                            <mat-option *ngFor="let item of filteredCash | async" [value]="item">
                                {{item.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-hint>Requerido *</mat-hint>
                        <mat-error *ngIf="(filteredCash | async)?.length">Lista vacía</mat-error>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>DNI</mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="dni" placeholder="Escriba..."
                            autocomplete="off">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <mat-label>Celular</mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="phone" placeholder="Escriba..."
                            autocomplete="off">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right" color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="w3-margin-right" color="primary" (click)="save()"
        [disabled]="!dataFormGroup.valid">Vender</button>
</mat-dialog-actions>