<div style="min-height:100vh; background:rgba(230, 230, 250, 0.5)">
    <div class="animated fadeInUpBig w3-margin-bottom" style="padding:16px">
        <div class="w3-row w3-margin-bottom">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div>
                    <span class="mat-title ms-font-montserrat ms-color-11" style="font-weight: 900">
                        <mat-icon class="ms-icons-color" style="vertical-align:middle">store</mat-icon>
                        Ventas <mat-icon style="vertical-align:middle">keyboard_arrow_right</mat-icon>
                        Tiendas
                    </span>
                </div>
                <div>
                    <button mat-raised-button class="ms-icons-color" style="margin:0em 0.2em 1em 0.2em"
                        (click)="createStore()">
                        <mat-icon>add_circle</mat-icon> Crear
                    </button>
                    <button mat-button style="margin:0em 0.2em 1em 0.2em" disabled>
                        <mat-icon>store</mat-icon> {{dbs.stores.length | number: '2.0'}} Tiendas
                    </button>
                    <span style="margin-right:1em">
                        <mat-form-field color="accent">
                            <mat-label>Tienda</mat-label>
                            <mat-icon matPrefix style="margin-right:0.5em; vertical-align:text-bottom">search
                            </mat-icon>
                            <input matInput type="text" [formControl]="store" [matAutocomplete]="storesAuto"
                                placeholder="Seleccione..." autocomplete="off">
                            <mat-hint>Seleccione una tienda</mat-hint>
                            <mat-autocomplete #storesAuto="matAutocomplete" [displayWith]="showSelectedStore"
                                (optionSelected)="selectedStore($event)">
                                <mat-option *ngFor="let item of filteredStores | async" [value]="item">
                                    {{item.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </span>
                    <span style="margin-right:1em">
                        <mat-form-field color="accent">
                            <mat-label>Filtrar</mat-label>
                            <mat-icon matPrefix style="margin-right:0.5em; vertical-align:text-bottom">filter_list
                            </mat-icon>
                            <input matInput type="text" placeholder="Escriba ..."
                                (input)="filterData($event.target.value)" autocomplete="off">
                        </mat-form-field>
                    </span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div style="display:flex; padding:8px 8px">
                    <span class="ms-font-montserrat w3-margin-right w3-margin-bottom">
                        <mat-icon class="ms-icons-color" style="vertical-align:middle">store</mat-icon> Tienda:
                        <b>{{currentStore ? currentStore.name : '---'}}</b>
                    </span>
                    <span class="ms-font-montserrat w3-margin-right w3-margin-bottom">
                        <mat-icon class="ms-icons-color" style="vertical-align:middle">account_circle</mat-icon>
                        Supervisor: <b>{{currentStore ? currentStore.supervisor.displayName : '---'}}</b>
                    </span>
                    <!-- <span class="ms-font-montserrat w3-margin-right w3-margin-bottom"><mat-icon>mail</mat-icon> Correo: {{store ? store.supervisor.email : '---'}}</span> -->
                </div>
                <div class="mat-elevation-z8">
                    <div class="w3-margin">
                        <p class="ms-font-montserrat mat-title w3-padding">
                            <mat-icon class="ms-icons-color" style="vertical-align:middle">local_offer</mat-icon>
                            Productos
                        </p>
                    </div>

                    <div style=" overflow:auto">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%">

                            <ng-container matColumnDef="index" sticky>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>N°</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw; let i = index">
                                    {{raw.index + 1}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="code">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por código" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Código</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.code}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por nombre" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Nombre</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por categoría" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Categoría</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.category}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por categoría" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Descripción</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.description}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="correlative">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por categoría" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Correlativo</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.correlative}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="stock">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por stock" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Stock</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                        {{(raw.stock - serialNumbersInTransfering[raw.id] - serialNumbersSold[raw.id]) | number : '2.'}} <span *ngIf="serialNumbersInTransfering[raw.id]">({{serialNumbersInTransfering[raw.id] | number: '2.'}})</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sale">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por precio de venta" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Venta</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let product">
                                    {{product.sale | currency : 'S/.'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Acciones</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <mat-menu #rawMenu="matMenu">
                                        <button mat-menu-item (click)="showProducts(raw)">
                                            <mat-icon class="ms-icons-color">money</mat-icon> Productos n/s
                                        </button>
                                    </mat-menu>
                                    <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>
    </div>
</div>