<div style="min-height:100vh; background:rgba(230, 230, 250, 0.5)">
    <div class="animated fadeInUpBig w3-margin-bottom" style="padding:16px">
        <div class="w3-row w3-margin-bottom">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div>
                    <span class="mat-title ms-font-montserrat ms-color-11" style="font-weight: 900">
                        <mat-icon class="ms-icons-color" style="vertical-align:middle">local_shipping</mat-icon>
                        Logística <mat-icon style="vertical-align:middle">keyboard_arrow_right</mat-icon> Traslados
                    </span>
                </div>
                <div>
                    <button mat-raised-button class="ms-icons-color" style="margin:0em 0.2em 1em 0.2em"
                        (click)="createTransfer()">
                        <mat-icon>add_circle</mat-icon> Crear
                    </button>
                    <button mat-button style="margin:0em 0.2em 1em 0.2em" disabled>
                        <mat-icon>local_shipping</mat-icon> {{dbs.transfers.length | number: '2.0'}} Transferencias
                    </button>
                    <span style="margin-right:1em">
                        <mat-form-field autocomplete="off" color="accent">
                            <mat-label>Filtrar</mat-label>
                            <mat-icon matPrefix style="margin-right:0.5em; vertical-align:text-bottom">filter_list
                            </mat-icon>
                            <input matInput type="text" placeholder="Escriba ..."
                                (input)="filterData($event.target.value)" autocomplete="off">
                        </mat-form-field>
                    </span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div class="mat-elevation-z8">
                    <div style=" overflow:auto">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%">

                            <ng-container matColumnDef="correlative" sticky>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Correlativo</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    TR{{raw.correlative | number : '2.'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="origin">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Origen</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.origin.name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="destination">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Destino</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.destination.name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="serialList">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Lista</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <button mat-raised-button color="primary" (click)="showSerialList(raw.serialList)">
                                        <mat-icon>local_offer</mat-icon> Productos
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por estado" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Estado</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span style="padding: 8px 8px; border-radius: 10px" [ngClass]="{'w3-amber': raw.status === 'Solicitado',
                                                    'w3-red': raw.status === 'Rechazado',
                                                    'w3-green': raw.status === 'Aprobado',
                                                    'w3-black': raw.status === 'Anulado',
                                                    'w3-purple': raw.status === 'Recibido'}">{{raw.status}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Solicitado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.createdBy ? raw.createdBy : '---' }}</span><br>
                                    <span *ngIf="raw.regDate">{{raw.regDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.regDate" class="w3-small"><b> ({{raw.regDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="approvedBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Aprobado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.approvedBy ? raw.approvedBy : '---' }}</span><br>
                                    <span *ngIf="raw.approvedDate">{{raw.approvedDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.approvedDate" class="w3-small"><b> ({{raw.approvedDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="carriedBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Llevado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.carriedBy ? raw.carriedBy : '---' }}</span><br>
                                    <span *ngIf="raw.carriedDate">{{raw.carriedDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.carriedDate" class="w3-small"><b> ({{raw.carriedDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="receivedBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Recibido por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.receivedBy ? raw.receivedBy : '---' }}</span><br>
                                    <span *ngIf="raw.receivedDate">{{raw.receivedDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.receivedDate" class="w3-small"><b> ({{raw.receivedDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rejectedBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Rechazado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.rejectedBy ? raw.rejectedBy : '---' }}</span><br>
                                    <span *ngIf="raw.rejectedDate">{{raw.rejectedDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.rejectedDate" class="w3-small"><b> ({{raw.rejectedDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="canceledBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Cancelado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.canceledBy ? raw.canceledBy : '---' }}</span><br>
                                    <span *ngIf="raw.canceledDate">{{raw.canceledDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.canceledDate" class="w3-small"><b> ({{raw.canceledDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Acciones</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <mat-menu #rawMenu="matMenu">
                                        <button mat-menu-item *ngIf="raw.status === 'Solicitado'"
                                            (click)="approveTransfer(raw)">
                                            <mat-icon class="ms-icons-color">check_circle</mat-icon> Aprobar
                                        </button>
                                        <button mat-menu-item
                                            *ngIf="(raw.status === 'Solicitado' || raw.status === 'Aprobado') && raw.source === 'sales'"
                                            (click)="rejectTransfer(raw)">
                                            <mat-icon class="ms-icons-color">cancel</mat-icon> Rechazar
                                        </button>
                                        <button mat-menu-item *ngIf="raw.status === 'Rechazado' || raw.status === 'Anulado'"
                                            (click)="restoreTransfer(raw)">
                                            <mat-icon class="ms-icons-color">history</mat-icon> Restaurar
                                        </button>
                                        <button mat-menu-item *ngIf="raw.status === 'Aprobado'"
                                            (click)="stopTransfer(raw)">
                                            <mat-icon class="ms-icons-color">pan_tool</mat-icon> Detener
                                        </button>
                                        <button mat-menu-item
                                            *ngIf="(raw.status === 'Solicitado' || raw.status === 'Aprobado') && raw.source === 'logistic'"
                                            (click)="cancelTransfer(raw)">
                                            <mat-icon class="ms-icons-color">cancel</mat-icon> Anular
                                        </button>
                                    </mat-menu>
                                    <button mat-icon-button [matMenuTriggerFor]="rawMenu" [disabled]="raw.status === 'Recibido'">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>
    </div>
</div>