<div class="ms-font-montserrat mat-title ms-color-11">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">local_shipping</mat-icon> Nuevo traslado
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-dialog-content style="min-width:300px">
    <form [formGroup]="dataFormGroup">
        <div class="w3-margin">
            <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>{{data.serial.name}}
                    #{{data.serial.serie | number : '2.'}}</b></span>
            <mat-divider class="w3-margin-bottom"></mat-divider>

            <mat-form-field appearance="outline" class="w3-margin-bottom w3-block">
                <mat-label>Origen</mat-label>
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <input matInput type="text" formControlName="origin" [matAutocomplete]="originAuto" placeholder="Escriba..." autocomplete="off"
                    readonly>
                <mat-autocomplete #originAuto="matAutocomplete" [displayWith]="showStore">
                    <mat-option *ngFor="let item of dbs.currentDataStores | async" [value]="item">
                        {{item.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>Requerido *</mat-hint>
            </mat-form-field><br>

            <mat-form-field appearance="outline" class="w3-margin-bottom w3-block">
                <mat-label>Destino</mat-label>
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <input matInput type="text" formControlName="destination" [matAutocomplete]="destinationAuto"
                    placeholder="Escriba..." autocomplete="off">
                <mat-autocomplete #destinationAuto="matAutocomplete" [displayWith]="showStore">
                    <mat-option *ngFor="let item of filteredDestinationStores | async" [value]="item">
                        {{item.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>Requerido *</mat-hint>
                <mat-error *ngIf="!dataFormGroup.valid">Seleccione un destino *</mat-error>
            </mat-form-field><br>
        </div>
    </form>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right" color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="w3-margin-right" color="primary" (click)="transfer()"
        [disabled]="!dataFormGroup.valid || loading">Trasladar</button>
</mat-dialog-actions>