<div style="min-height:100vh; background:rgba(230, 230, 250, 0.5)">
    <div class="animated fadeInUpBig w3-margin-bottom" style="padding:16px">
        <div class="w3-row w3-margin-bottom">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div>
                    <span class="mat-title ms-font-montserrat ms-color-11" style="font-weight: 900">
                        <mat-icon class="ms-icons-color" style="vertical-align:middle">local_offer</mat-icon>
                        Producción <mat-icon style="vertical-align:middle">keyboard_arrow_right</mat-icon> Productos
                        acabados
                    </span>
                </div>
                <div>
                    <button mat-raised-button class="ms-icons-color" style="margin:0em 0.2em 1em 0.2em"
                        (click)="createFinishedProduct()">
                        <mat-icon>add_circle</mat-icon> Crear
                    </button>
                    <button mat-button style="margin:0em 0.2em 1em 0.2em" disabled>
                        <mat-icon>local_offer</mat-icon> {{dbs.finishedProducts.length | number: '2.0'}} Productos
                    </button>
                    <span style="margin-right:1em">
                        <mat-form-field autocomplete="off" color="accent">
                            <mat-label>Filtrar</mat-label>
                            <mat-icon matPrefix style="margin-right:0.5em; vertical-align:text-bottom">filter_list
                            </mat-icon>
                            <input matInput type="text" placeholder="Escriba ..."
                                (input)="filterData($event.target.value)" autocomplete="off">
                        </mat-form-field>
                    </span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div class="mat-elevation-z8">
                    <div style=" overflow:auto">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%">

                            <ng-container matColumnDef="index" sticky>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>N°</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw; let i = index">
                                    {{raw.index + 1}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="code">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por código" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Código</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.code}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por nombre" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Nombre</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por categoría" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Categoría</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.category}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por categoría" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Descripción</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.description}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="image">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Imagen</th>
                                <td mat-cell style="padding:8px 8px" *matCellDef="let raw">
                                    <a [href]="raw.image" target="_blank" style="cursor:pointer">
                                        <img [src]="raw.image || '../../../assets/images/no-image.png'"
                                            style="width:100px; height:75px"
                                            class="mat-elevation-z4 w3-hover-shadow">
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="correlative">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por categoría" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Correlativo</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.correlative}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="stock">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por stock" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Stock</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{(raw.stock - serialNumbersInTransfering[raw.id] - serialNumbersSold[raw.id]) | number : '2.'}}
                                    <span
                                        *ngIf="serialNumbersInTransfering[raw.id]">({{serialNumbersInTransfering[raw.id] | number: '2.'}})</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sale" *ngIf="auth.permit.productionFinishedProductsTableSale">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por precio de venta" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Venta</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let product">
                                    {{product.sale | currency : 'S/.'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Acciones</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <mat-menu #rawMenu="matMenu">
                                        <button mat-menu-item (click)="showRawMaterialList(raw)"
                                            *ngIf="raw.rawMaterialList">
                                            <mat-icon class="ms-icons-color">assignment</mat-icon> Mostrar receta
                                        </button>
                                        <button mat-menu-item (click)="assignRawMaterialList(raw)"
                                            *ngIf="!raw.rawMaterialList" disabled>
                                            <mat-icon class="ms-icons-color">assignment</mat-icon> Asignar receta
                                        </button>
                                        <button mat-menu-item (click)="addStock(raw)">
                                            <mat-icon class="ms-icons-color">add_circle</mat-icon> Agregar stock
                                        </button>
                                        <button mat-menu-item (click)="showProducts(raw)">
                                            <mat-icon class="ms-icons-color">money</mat-icon> Productos n/s
                                        </button>
                                        <button mat-menu-item (click)="editFinishedProduct(raw)">
                                            <mat-icon class="ms-icons-color">edit</mat-icon> Editar
                                        </button>
                                        <button mat-menu-item (click)="deleteFinishedProduct(raw)">
                                            <mat-icon class="ms-icons-color">delete</mat-icon> Borrar
                                        </button>
                                    </mat-menu>
                                    <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>
    </div>
</div>