<div class="ms-font-montserrat mat-title ms-color-11">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">add_circle</mat-icon> Agregar materia prima
</div>

<mat-dialog-content>
    <p class="ms-font-montserrat ms-color-11 w3-margin-bottom">¿Está seguro de agregar <b>{{data['form']['quantity'] | number : '2.2'}}
        [{{data['raw']['unit']}}] de {{data['raw']['name']}}</b>?</p>

    <mat-progress-bar mode="indeterminate" style="margin-bottom:0.5em" *ngIf="uploading"></mat-progress-bar>

    <div style="display:flex; align-items:center" *ngIf="uploading">
        <mat-icon class="w3-margin-right" [ngStyle]="{'color': flags.created ? 'forestgreen' : 'gray'}">check_circle
        </mat-icon>
        <span class="w3-margin-right ms-font-montserrat w3-small">Actualizando stock</span>
    </div>
</mat-dialog-content>

<mat-divider class="w3-margin-top "></mat-divider>
<mat-dialog-actions class="w3-margin-bottom">
    <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>No</button>
    <button mat-raised-button color="primary" (click)="save()">Si, agregar</button>
</mat-dialog-actions>