<div style="min-height:100vh; background:rgba(230, 230, 250, 0.5)">
    <div class="animated fadeInUpBig w3-margin-bottom" style="padding:16px">
        <div class="w3-row w3-margin-bottom">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div>
                    <span class="mat-title ms-font-montserrat ms-color-11" style="font-weight: 900">
                        <mat-icon class="ms-icons-color" style="vertical-align:middle">date_range</mat-icon>
                        Caja <mat-icon style="vertical-align:middle">keyboard_arrow_right</mat-icon> Cuentas por pagar
                    </span>
                </div>
                <div>
                    <button mat-button style="margin:0em 0.2em 1em 0.2em" disabled>
                        <mat-icon>date_range</mat-icon> {{dbs.debtsToPay.length | number: '2.0'}} Documentos
                    </button>
                    <span style="margin-right:1em">
                        <mat-form-field autocomplete="off" color="accent">
                            <mat-label>Filtrar</mat-label>
                            <mat-icon matPrefix style="margin-right:0.5em; vertical-align:text-bottom">filter_list
                            </mat-icon>
                            <input matInput type="text" placeholder="Escriba ..."
                                (input)="filterData($event.target.value)" autocomplete="off">
                        </mat-form-field>
                    </span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
            <div class="w3-col s12 m10 l10">
                <div class="mat-elevation-z8">
                    <div style=" overflow:auto">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%">

                            <ng-container matColumnDef="index" sticky>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>N°</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw; let i = index">
                                    {{raw.index + 1}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="regDate">
                                <th mat-header-cell style="padding:0px 8px; min-width:65px" *matHeaderCellDef>Fecha de
                                    registro</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.regDate | date : 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="documentDate">
                                <th mat-header-cell style="padding:0px 8px; min-width:65px" *matHeaderCellDef>Fecha de
                                    emisión</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.documentDate | date : 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="itemsList">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>
                                    Lista de items</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <button mat-raised-button color="primary" (click)="showItemsList(raw)">
                                        <mat-icon>list</mat-icon> Lista
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="documentType">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por tipo de documento" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Tipo de documento</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <b>{{raw.documentType}}</b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="documentSerial">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Doc. Serie</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.documentSerial}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="documentCorrelative">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Doc. Correlativo</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.documentCorrelative}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="provider">
                                <th mat-header-cell style="padding:0px 8px; min-width:170px" *matHeaderCellDef>Proveedor
                                </th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>Proveedor:<br>{{raw.provider.name}}</span><br>
                                    <span>RUC:<br>{{raw.provider.ruc}}</span><br>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="totalImport">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>TOTAL</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.totalImport | currency : 'S/.'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="subtotalImport">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>SUBTOTAL</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.subtotalImport ? (raw.subtotalImport | currency : 'S/.') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="igvImport">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>IGV</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.igvImport ? (raw.igvImport | currency : 'S/.') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="paymentType">
                                <th mat-header-cell style="padding:0px 8px; min-width:75px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por tipo de pago" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Tipo de pago</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <b>{{raw.paymentType}}</b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por estado" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>Estado</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span style="padding: 8px 8px; border-radius: 10px"
                                        [ngClass]="{'w3-green': raw.status === 'Pagado',
                                                    'w3-amber': (raw.status === 'Pendiente' && (currentDate < raw.creditDate)),
                                                    'w3-black': raw.status === 'Anulado',
                                                    'w3-red': (raw.status === 'Pendiente' && (currentDate >= raw.creditDate))}">{{raw.status}}</span>
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>

                            <ng-container matColumnDef="paidImport">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Importe pagado</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.paidImport ? (raw.paidImport | currency : 'S/.') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="indebtImport">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Importe adeudado</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.indebtImport ? (raw.indebtImport | currency : 'S/.') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payments">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Pagos a cuenta</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <ng-container *ngIf="raw.payments; else notPayments">
                                        <button mat-raised-button color="primary" (click)="showPayments(raw)"
                                            [disabled]="!raw.payments.length"><mat-icon>list</mat-icon> Pagos</button>
                                    </ng-container>
                                    <ng-template #notPayments>
                                        ---
                                    </ng-template>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="detractionImport">
                                <th mat-header-cell style="padding:0px 8px; min-width:130px" *matHeaderCellDef>
                                    Detracción</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.detractionPercentage ? ('(' + raw.detractionPercentage + '%)') : ''}}
                                    {{raw.detractionImport ? (raw.detractionImport | currency : 'S/.') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="detractionDate">
                                <th mat-header-cell style="padding:0px 8px; min-width:80px" *matHeaderCellDef>Fecha pago
                                    detracción<br><small>REFERENCIAL</small></th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.detractionDate ? (raw.detractionDate | date : 'dd/MM/yyyy') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="creditDate">
                                <th mat-header-cell style="padding:0px 8px; min-width:80px" *matHeaderCellDef>Fecha de vencimiento<br> <small>(CREDITO)</small></th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.creditDate ? (raw.creditDate | date : 'dd/MM/yyyy') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="paymentDate">
                                <th mat-header-cell style="padding:0px 8px; min-width:80px" *matHeaderCellDef>Fecha pago
                                    documento<br> <small>(CREDITO)</small></th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    {{raw.paymentDate ? (raw.paymentDate | date : 'dd/MM/yyyy') : '---'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Creado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.createdBy ? raw.createdBy : '---' }}</span><br>
                                    <span *ngIf="raw.regDate">{{raw.regDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.regDate" class="w3-small"><b>
                                            ({{raw.regDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="editedBy">
                                <th mat-header-cell style="padding:0px 8px; min-width:150px" *matHeaderCellDef
                                    matTooltip="Ordenar tabla por solicitante" matTooltipPosition="above"
                                    [matTooltipDisabled]="!disableTooltips.value" mat-sort-header>
                                    Editado por</th>
                                <td mat-cell style="padding:0px 8px" *matCellDef="let raw">
                                    <span>{{raw.editedBy ? raw.editedBy : '---' }}</span><br>
                                    <span *ngIf="raw.editedDate">{{raw.editedDate | date : 'dd/MM/yyyy'}}</span><br>
                                    <span *ngIf="raw.editedDate" class="w3-small"><b>
                                            ({{raw.editedDate | date : 'hh:mm a'}})</b></span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="verifiedByAccountant">
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Verificado por contador
                                </th>
                                <td mat-cell style="padding:0px 24px 0px 8px" *matCellDef="let raw">
                                    <span style="padding: 0.5em 0.5em; border-radius: 10px"
                                        [ngClass]="{'w3-green' : raw.verifiedByAccountant, 'w3-amber' : !verifiedByAccountant}">
                                        {{raw.verifiedByAccountant ? 'Verificado' : 'Pendiente'}}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell style="padding:0px 8px" *matHeaderCellDef>Acciones</th>
                                <td mat-cell style="padding:0px 24px" *matCellDef="let raw">
                                    <mat-menu #rawMenu="matMenu">
                                        <button mat-menu-item (click)="payTotalDebt(raw)"
                                            *ngIf="auth.permit.cashDebtsToPayTotalPayAction">
                                            <mat-icon class="ms-icons-color">gavel</mat-icon> Pago total
                                        </button>
                                        <button mat-menu-item (click)="payPartialDebt(raw)"
                                            *ngIf="auth.permit.cashDebtsToPayPartialPayAction">
                                            <mat-icon class="ms-icons-color">gavel</mat-icon> Pago parcial
                                        </button>
                                    </mat-menu>
                                    <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div class="w3-col s0 m1 l1">
                <p></p>
            </div>
        </div>
    </div>
</div>