<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">build</mat-icon> Información de pedido
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-dialog-content class="w3-margin-top">
    <form [formGroup]="dataFormGroup">
        <mat-form-field class="w3-margin-bottom" appearance="outline">
            <mat-label>Nombre de producto</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Escriba..." autocomplete="off" readonly>
            <mat-hint>Solo lectura</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom" appearance="outline">
            <mat-label>Código de producto</mat-label>
            <input matInput type="text" formControlName="code" placeholder="Escriba..." autocomplete="off" readonly>
            <mat-hint>Solo lectura</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom" appearance="outline">
            <mat-label>Categoría</mat-label>
            <input matInput type="text" formControlName="category" [matAutocomplete]="categoryAuto"
                placeholder="Escriba y seleccione">
            <mat-autocomplete #categoryAuto="matAutocomplete">
                <mat-option *ngFor="let cat of filteredCategories | async" [value]="cat.name">
                    {{cat.name}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint>Requerido *</mat-hint>
            <mat-error *ngIf="!dataFormGroup.valid">Seleccione una categoría *</mat-error>
        </mat-form-field><br>

    </form>
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right" color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="w3-margin-right" color="primary" (click)="save()" [disabled]="loading">Producir</button>
</mat-dialog-actions>