<div class="ms-font-montserrat mat-title ms-color-11">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">list</mat-icon> Total
</div>

<mat-dialog-content style="min-width:300px">
    <table>
        <thead>
            <th>Fuente</th>
            <th>Importe</th>
        </thead>
        <tbody class="ms-font-montserrat ms-color-11">
            <tr>
                <td>Balance inicial:</td>
                <td></td>
            </tr>
            <tr>
                <td>Ingresos:</td>
                <td></td>
            </tr>
            <tr>
                <td>Egresos:</td>
                <td></td>
            </tr>
            <tr class="w3-border-top w3-border-gray">
                <td>Total</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <!-- <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Balance inicial: <span>{{}}</span></p>
    <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Ingresos: <span>+ {{}}</span></p>
    <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Egresos: <span>- {{}}</span></p>
    <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Total: <span>{{}}</span></p> -->
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>