<h2 class="ms-font-montserrat mat-title" mat-dialog-title>
    <mat-icon class="ms-icons-color" style="vertical-align:middle">add_circle</mat-icon> Crear producto
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
    <p class="ms-font-montserrat w3-margin-bottom">¿Está seguro de crear el producto {{data['form']['name']}}?</p>

    <mat-progress-bar mode="indeterminate" style="margin-bottom:0.5em" *ngIf="uploading"></mat-progress-bar>

    <div style="display:flex; align-items:center" *ngIf="uploading">
        <mat-icon class="w3-margin-right" [ngStyle]="{'color': flags.created ? 'forestgreen' : 'gray'}">check_circle
        </mat-icon>
        <span class="w3-margin-right ms-font-montserrat w3-small">Documento guardado</span>
    </div>

    <div style="display:flex; align-items:center animated fadeInLeft" *ngIf="data.image && uploading">
        <mat-icon class="w3-margin-right" [ngStyle]="{'color': flags.image ? 'forestgreen' : 'gray'}">check_circle
        </mat-icon>
        <span class="w3-margin-right ms-font-montserrat w3-small"> Imagen</span>
        <mat-progress-bar color="accent" mode="buffer" [value]="uploadPercent1 | async" *ngIf="uploading1">
        </mat-progress-bar>
    </div>

    <div style="display:flex; align-items:center" *ngIf="uploading">
        <mat-icon class="w3-margin-right" [ngStyle]="{'color': flags.serie ? 'forestgreen' : 'gray'}">check_circle
        </mat-icon>
        <span class="w3-margin-right ms-font-montserrat w3-small">Creando números de serie</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="w3-margin-top w3-margin-bottom">
    <button mat-stroked-button color="warn" class="w3-margin-right" mat-dialog-close>No</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="uploading">Si, crear</button>
</mat-dialog-actions>