<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">remove_circle</mat-icon> Retirar dinero
</div>
<!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->

<mat-dialog-content class="w3-margin-top" style="min-width:300px">
    <form [formGroup]="dataFormGroup">

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput cols="10" rows="5" formControlName="description" placeholder="Describa ..."
                autocomplete="off"></textarea>
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Importe (S/.)</mat-label>
            <input matInput type="number" min="0" step="0.01" formControlName="import" placeholder="0"
                autocomplete="off">
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Tipo de egreso</mat-label>
            <mat-select formControlName="departureType">
                <mat-option *ngFor="let item of departureTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline"
            *ngIf="dataFormGroup.value['departureType'] === 'GASTO'">
            <mat-label>Tipo de gasto</mat-label>
            <mat-select formControlName="expenseType">
                <mat-option *ngFor="let item of expenseTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Tipo de pago</mat-label>
            <mat-select formControlName="paymentType">
                <mat-option *ngFor="let item of paymentTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline"
            *ngIf="dataFormGroup.value['paymentType'] === 'TRANSFERENCIA'">
            <mat-label>Cuenta de origen</mat-label>
            <mat-select formControlName="originAccount">
                <mat-option *ngFor="let item of originAccounts" [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

        <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Usuario asignado</mat-label>
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <input matInput type="text" formControlName="user" [matAutocomplete]="userAuto" autocomplete="off">
            <mat-autocomplete #userAuto="matAutocomplete" [displayWith]="showUser">
                <mat-option *ngFor="let item of filteredUsers | async" [value]="item">{{item.displayName}}</mat-option>
            </mat-autocomplete>
            <mat-hint>Requerido *</mat-hint>
        </mat-form-field><br>

    </form>
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right" color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="w3-margin-right" color="primary" (click)="retriveMoney()"
        [disabled]="!dataFormGroup.valid">Retirar</button>
</mat-dialog-actions>