<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">edit</mat-icon> Editar OP{{data.correlative}}
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-dialog-content class="w3-margin-top">
    <form [formGroup]="dataFormGroup">
        <mat-form-field class="w3-margin-bottom" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" min="0" step="0.1" formControlName="quantity" placeholder="Escriba..."
                autocomplete="off">
            <mat-hint>Requerido *</mat-hint>
            <mat-error *ngIf="!dataFormGroup.valid">Cantidad requerido *</mat-error>
        </mat-form-field><br>
    </form>
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right" color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="w3-margin-right" color="primary" (click)="save()">Editar</button>
</mat-dialog-actions>